<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
	<div class="container" style="height: 100%">
		<h2>Cadastro de usuário</h2>
		<form class="" action="/register" method="post" id="registerForm">
			<div class="row">
				<div class="form-group col-md-6">
					<label class="characterRequired">Login</label> <input type="text" required maxlength="50"
						class="form-control" id="login" name="login" value="">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="characterRequired">Senha</label> <input type="password" required maxlength="100"
						class="form-control" id="password" name="password" value="">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="characterRequired">Confirmar senha</label> <input type="password" required
						maxlength="100" class="form-control" id="confirmPassword" name="confirmPassword" value="">
				</div>
			</div>
			<h5>Dados pessoais</h5>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="characterRequired">Nome</label>
					<input type="text" required maxlength="100" class="form-control" id="nome" name="name" value="">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<label class="characterRequired">Data de nascimento</label> <input type="date" class="form-control"
						id="date" name="bornDate" min="1914-12-01" max="2014-12-01" required>
				</div>
				<div class="form-group col-md-3">
					<label>Idade:</label>
					<input type="number" disabled class="form-control" id="idade" name="idade">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="characterRequired">Sexo</label>
					<div class="form-check-inline">
						<label class="form-check-label" for="radio1"> <input type="radio" class="form-check-input"
								id="masculino" name="sex" value="M" checked>Masculino
						</label>
					</div>
					<div class="form-check-inline">
						<label class="form-check-label" for="radio1"> <input type="radio" class="form-check-input"
								id="radio1" name="sex" value="F" checked>Feminino
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="characterRequired">Cep</label> <input type="number" required maxlength="100"
						class="form-control" id="cep" name="zipcode" value="">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Logradouro:</label> <input type="text" maxlength="100" class="form-control" id="logradouro"
						name="street" value="">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2">
					<label>Número:</label> <input type="number" maxlength="30" class="form-control" id="numero"
						name="number" value="">
				</div>
				<div class="form-group col-md-4">
					<label>Complemento:</label> <input type="text" maxlength="100" class="form-control" id="complemento"
						name="complement" value="">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label>Cidade:</label> <input type="text" maxlength="100" class="form-control" id="cidade"
						name="city" value="">
				</div>
				<div class="form-group col-md-2">
					<label>UF:</label> <select class="form-control" id="estado" name="state">
						<option value="SC">Santa Catarina</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="SP">São Paulo</option>
						<option value="RJ">Rio de Janeiro</option>
					</select>
				</div>
			</div>

			<p id="alert" class="mt-5 mb-3 text-muted"></p>
			<button type="submit" id="btnCriarUsuario" class="btn btn-primary">Criar usuário</button>
			<button type="button" onclick="clearFields()" id="btnLimparCampos" class="btn btn-secondary">Limpar</button>
		</form>
	</div>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/register.js"></script>
</body>

</html>