<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="container" style="height: 100%">
    <h2>Cadastro de usuário</h2>
    <form class="" action="/api/user/register" method="post" id="registerForm" >
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email:</label>
                <input type="text" required maxlength="50" class="form-control" id="email" name="email" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Senha:</label>
                <input type="password" maxlength="100" class="form-control" id="senha" name="senha" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Confirmar senha:</label>
                <input type="password" maxlength="100" class="form-control" id="confirmarSenha" name="confirmarSenha"
                       value="">
            </div>
        </div>
        <h5>Dados pessoais</h5>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Nome:</label>
                <input type="text" maxlength="100" class="form-control" id="nome" name="nome" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>Data de nascimento:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group col-md-3">
                <label>Idade:</label>
                <input type="number" class="form-control" id="idate" name="idade" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Sexo:</label>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="masculino" name="masculino" value="M" checked>Masculino
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="feminino" value="F" checked>Feminino
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Cep:</label>
                <input type="number" maxlength="100" class="form-control" id="cep" name="cep" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Logradouro:</label>
                <input type="text" maxlength="100" class="form-control" id="logradouro" name="logradouro" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Número:</label>
                <input type="number" maxlength="30" class="form-control" id="numero" name="numero" value="">
            </div>
            <div class="form-group col-md-4">
                <label>Complemento:</label>
                <input type="text" maxlength="100" class="form-control" id="complemento" name="complemento" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Cidade:</label>
                <input type="text" maxlength="100" class="form-control" id="Cidade" name="cidade" value="">
            </div>
            <div class="form-group col-md-2">
                <label>UF:</label>
                <select class="form-control">
                    <option value="SC">Santa Catarina</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="SP">São Paulo</option>
                    <option value="RJ">Rio de Janeiro</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Criar usuário</button>
        <button type="submit" class="btn btn-secondary">Limpar</button>
    </form>
</div>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/register.js"></script>
</body>
</html>