<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Relatório</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div th:replace="menu :: cabecalho"></div>
<div class="container text-center">
    <div>
        <h2 style="margin-top:10px;margin-bottom:10px">Listagem de compras</h2>
        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th>Usuário</th>
                <th>Data</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shopping : ${shoppings}">
                <td th:text="${shopping.user.login}"></td>
                <td th:text="${{shopping.shoppingDate}}"></td>
                <td th:text="${shopping.product.name}"></td>
                <td th:text="${shopping.quantity}"></td>
                <td th:text="${shopping.shoppingValue}"></td>
            </tr>
            <tr>
                <td colspan="3"/>
                <td>Valor total</td>
                <td><b th:text="${shoppingValue}"/></td>
            </tr>
            </tbody>
        </table>

    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>