<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/report.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/login.css">
	 
	
	<title>Relatório</title>
  </head>
  <body>	
    <div th:replace="menu :: cabecalho"></div>
      
    <div class="table_responsive" style="height: 50%">
		<table id="tabelaRelatorio"  class="table table-bordered">
  			<thead class="thead-light">
    		<tr>
     		<th scope="col">Usuário</th>
      		<th scope="col">Data da solicitação</th>
      		<th scope="col">Produto</th>
      		<th scope="col">Quantidade</th>
      		<th scope="col">Valor total</th>
    	</tr>
  			</thead>
  		<tbody>
    		<tr>
      		<th scope="row">1</th>
      		<td>Mark</td>
      		<td>Otto</td>
      		<td>@mdo</td>
      		<td>2599,99</td>
    		</tr>
    		<tr>
      		
      		<th scope="row">2</th>
      		<td>Jacob</td>
      		<td>Thornton</td>
      		<td>@fat</td>
      		<td>2599,99</td>
    		</tr>
    		<tr>
      		
      		<th scope="row">3</th>
      		<td>Larry</td>
      		<td>the Bird</td>
      		<td>@twitter</td>
      		<td>2599,99</td>
   			</tr>
  	</tbody>
</table>
		</div>
	 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
	  
  </body>

    <div class="footer">
        <h6>Direitos reservados</h6>

    </div>

</html>